@import "component";
@import "base/icons";
@import "base/colors";
@import "base/typography";
@import "compass/css3";
@import "compass/utilities";

$width-aside: 255px;

.l-rate_list_menu {
  .you-selected {
    margin: 16px 0;
    font-size: $type-ML;
  }

  .l-page-content {
    overflow: hidden;
  }

  .l-main {
    position: relative;
    display: block;
    float: none;
  }

  .l-rate_list_menu-aside {
    position: absolute;
    float: none;
    width: $width-aside;
    right: -$width-aside;
    z-index: 2;
    margin-right: 0;
    margin-bottom: 16px;

    a.l-close {
      display: none;
      float: right;
      width: 20px;
      height: 20px;
      margin: 8px;
      @include pageclose-onlight-icon();
    }

    @include breakpoint(ML,down) {
      a.l-close {
        display: inline-block;
      }
    }
  }
}

// State: <@ML, Show Sidebar Toggle
@include breakpoint(ML,down) {
  .l-rate_list_menu {
    .l-main {
      left: auto;
      right: 0;
      @include transition-property(left);
      @include transition-property(right);
      @include transition-duration(0.75s);
    }
    .l-rate_list_menu-aside {
      @include transition-property(left);
      @include transition-property(right);
      @include transition-duration(0.75s);
    }
    .l-edit-search {
      display: none;
    }

    &.is-show-aside {
      .l-main {
        right: $width-aside;
        left: auto;
      }
      .l-rate_list_menu-aside {
        right: 0px;

        .l-edit-search {
          display: block;
        }
      }
    }
  }
}

// Override the default right rail switch at this breakpoint
@include breakpoint(MML) {
  .l-rate_list_menu {
    .l-main {
      @include span-columns(9,9);
      margin-left: 0;
      margin-right: 0;
    }
  }
}

// State: @ML, Always Show Sidebar
@include breakpoint(ML) {
  .l-rate_list_menu {
    .l-page-content {
      @include fixed-width-rightrail();

      .l-rate_list_menu-aside {
        position: relative;
        float: right;
        right: 0;

        a.l-close {
          display: none;
        }
      }

      &.is-show-aside {
        .l-search-main {
          margin-left: 0;
        }
        .l-search-aside {
          left: auto;
        }
      }
    }
  }
}

@include breakpoint(XL) {
  .l-rate_list_menu {
    .you-selected {
      margin: 16px -8px;
    }
  }
}
