@import "component";
@import "base/icons";
@import "base/colors";
@import "base/typography";
@import "compass/css3";
@import "compass/utilities";

$width-aside: 255px;
$width-hotelpanel: 320px;

.l-layout-search {

  .l-container {
    max-width: 1024px;
  }

  .l-canvas {
    position: relative;
  }

  // ----------------------------------------------------------------------
  // Header Updates

  // When not a variant, highlight the header button selection
  &:not(.l-search-variant) .l-headerbar {
    .l-headermenu-find {
      background-color: rgba(28, 28, 28, 0.5);
    }
  }
  .l-headerbar {
    margin-bottom: 0;
  }

  // ----------------------------------------------------------------------
  // Top of Page

  // Match Summary

  .l-return-to-previous {
    margin-bottom: -4px;
  }
  .l-match-summary {
    padding: 16px 8px 8px;
    margin-bottom: 0px;
  }
  .t-match-summary {
    font-size: 20px;
  }

  // "Your Stay" Properties

  .l-search-properties {
    padding: 0 8px 4px;
    margin-bottom: 0;
    display: block;
    a.edit {
      margin-left: 8px;
    }
    @include breakpoint(ML) {
      display: none;
    }
  }
  .t-search-properties {
    a.edit {
      font-weight: 600;
    }
  }

  // ----------------------------------------------------------------------
  // Primary Layout Rules

  .l-search-main {
    position: relative;
    left: 0;
    right: 0;
    margin-right: -8px;
    margin-left: -8px;
    background-color: white;
  }
  &.is-results-list .l-search-main, &.is-results-gallery .l-search-main {
    .l-listview {
      display: block;
    }
    .l-mapview {
      display: none;
    }
  }
  &.is-results-map .l-search-main {
    .l-listview {
      display: none;
    }
    .l-mapview {
      display: block;
    }
  }

  // ----------------------------------------------------------------------
  // Map

  .l-canvas .l-search-header .l-toolbar .l-toolbar-sort {
    opacity: 1;
    @include transition-property(opacity);
    @include transition-duration(0.5s);
  }

  .l-mapview {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.is-results-map {
    min-height: 0;

    .sitefooter {
      display: none;
    }
  }

  // State: <@ML, Map View Compresses Top of Page
  @include breakpoint(ML, down) {

    .l-canvas > header {
      position: relative;
      top: 0px;
      @include transition-property(top);
      @include transition-duration(0.5s);
    }

    &.is-results-map {
      .l-canvas > header {
        position: relative;
        top: -55px;
        @include transition-property(top);
        @include transition-duration(0.5s);
      }
      .sitefooter { display: none; }
    }
  }

  // State: >=@ML, Map View Fixes Display
  @include breakpoint(ML) {
    &.is-results-map {
      .l-toolbar .l-container {
        max-width: 1400px;
      }
      .l-mapview {
        position: fixed;
        right: 280px;
        top: 115px;
        bottom: 0;
        overflow: hidden;
        left: 0;
        width: auto;
      }
      .l-search-aside {
        position: fixed;
        right: 0;
        top: 115px;
        bottom: 0;
        width: 280px;
        overflow: scroll;
        margin-top: 0;
        margin-bottom: 0;
        border-left: 1px solid #D2D2D2;
      }
    }
  }

  // ----------------------------------------------------------------------
  // Rewards Glossary

  .l-rewards-intro {
    padding: 8px;
    margin-bottom: 0;
    color: $darkgray;
    font-size: $type-M;
    line-height: 1.5;
    border-bottom: 1px solid $lightgray;
    a {
      display: block;
    }
  }
  @include breakpoint(ML) {
    .l-rewards-intro {
      a {
        display: inline;
        margin-left: 16px;
      }
    }
  }

  // ----------------------------------------------------------------------
  // Unsuccessful Sell / No Rooms Available Modal

  .l-modal.l-no-rooms-available {
    .calendar:before {
      @include calendar-icon();
    }
    .map:before {
      @include map-pin-icon();
    }
  }

  // ----------------------------------------------------------------------
  // List

  .l-listview {
    .l-pagination-form {
      display: inline-block;
      margin-top: 16px;
      padding: 16px 8px;
      @include clear();
      &:before {
        clear:both;
      }
      .page-select span:first-child {
        padding-left: 0;
      }
    }
  }
  &.is-results-gallery .l-pagination-form {
    display: block;
    .l-pagination {
      padding-top: 24px;
    }
  }

  // ----------------------------------------------------------------------
  // Sidebar: Edit Search & Narrow Results

  .l-search-aside {
    position: absolute;
    width: $width-aside;
    right: -$width-aside;
    top: 8px;
    z-index: 2;
    margin-bottom: 16px;

    a.l-close {
      float: right;
      width: 20px;
      height: 20px;
      margin: 4px;
      @include pageclose-onlight-icon();
      display: none;
    }

    @include breakpoint(ML,down) {
      a.l-close {
        display: inline-block;
      }
    }
  }
  .t-search-aside {
    background-color: white;
    h3 {
      font-size: 18px;
    }
  }

  // State: <@ML, Show Sidebar Toggle

  @include breakpoint(ML,down) {
    .l-search-main {
      left: auto;
      right: 0;
      @include transition-property(left);
      @include transition-property(right);
      @include transition-duration(0.75s);
    }
    .l-search-aside {
      @include transition-property(left);
      @include transition-property(right);
      @include transition-duration(0.75s);
    }
    .l-edit-search, .l-search-filter {
      display: none;
    }
    &.is-results-map {
      .l-search-aside {
        @include transition-duration(0s);
      }
    }
    &.is-show-aside {
      .l-search-main {
        right: $width-aside;
        left: auto;
      }
      .l-search-aside {
        right: 0px;
      }
      &.is-results-map {
        .l-search-main .l-mapview {
          left: -$width-aside !important;
        }
        .l-search-aside {
          top: -65px;
          right: 0;
          position: absolute;
          overflow: scroll;
          background-color: $lightestgray;
        }
      }
      &.is-show-search-filter {
        .l-search-aside {
          > * {
            display: none;
          }
          .l-search-filter {
            display: block;
          }
        }
      }
      &.is-show-search-edit {
        .l-search-aside {
          > * {
            display: none;
          }
          .l-edit-search {
            display: block;
          }
        }
      }
    }
  }

  // State: @ML, Always Show Sidebar
  @include breakpoint(ML) {
    .l-search-main {
      margin-right: $width-hotelpanel - 48;
    }
    .l-search-aside {
      position: static;
      float: right;
      margin-top: 8px;
      width: $width-aside;
    }
    .l-toolbar .l-display-options a.filter-toggle {
      display: none
    }
    .t-search-aside {
      border-right: 0;
    }
    &.is-show-aside {
      .l-search-main {
        margin-left: 0;
      }
      .l-search-aside {
        left: auto;
      }
    }
  }

  // ----------------------------------------------------------------------
  // Hotel Panel

  .l-hotel-panel {
    position: absolute;
    display: none;
    width: $width-hotelpanel;
    right: -$width-hotelpanel;
    top: 0px;
    z-index: 3;
    overflow: hidden;
  }

  // State: Show Hotel Panel

  &.is-show-hotel-panel {
    .l-search-main {
      margin-right: $width-hotelpanel - 8;
    }
    .l-hotel-panel {
      right: 0;
      display: block;
    }
    // Cover entire display with panel
    @include breakpoint(MML,down) {
      .l-search-main {
        margin-right: 0px;
      }
      .l-hotel-panel {
        top: 0;
        width: 100%;
        display: block;
      }
    }
  }

  @include breakpoint(ML,down) {
    // Issue #214: Supress View Rates at narrow widths
    .l-gallery.with-cta .cta {
      display: none;
    }
  }
}