@import "../../Library/components/sass/base";

.l-confirm_continue{
   .l-confirm_continue-checklist li{
      position: relative;
      margin: 0;
      padding: 0 0 0 0.5rem;
      border: 0;
      background: none;
      vertical-align: top;
      line-height: 20px; // This overrides collapsibles and a few other elements

      &::before {
         content: "\2022";
         position: absolute;
         top: 0;
         left: 0;
         color: $gray;
      }
   }

   .l-confirm_continue-cta {
      margin: 2em 0;
      text-align: center;
   }

   .l-confirm_continue-cta-caption{
      text-align: center;
      margin: 0;
      font-size: $type-M;
      @include semibold;
   }

   .l-confirm_continue-cta-subcaption{
      text-align: center;
      margin: 0;
      font-size: $type-S;
   }

}
