@import "component";

@mixin successCheckmark() {
   margin-left: 25px;

   &::before {
      @include form-success-icon();
      vertical-align: top;
      margin-right: 8px;
      position: absolute;
      left: 8px;
      top: 14px;
      @include opacity(.5);
   }
}

.l-error-msg,
.l-warning-msg,
.l-info-msg,
.l-success-msg {
   padding: 12px 10px;

   .instructions {
      margin-top: 0;
      margin-bottom: 1rem;
   }
}

.l-error-msg {
   @include clear();

}

.t-error-msg,
.forms form div.t-error-msg {
   // Second selector is to override the doc-forms.css
   position: relative;
   background-color: $error-color;
   color: $white;

   .instructions,
   dt,
   dd,
   dt a,
   dd a,
   li,
   li a {
      color: $white;
   }

   .instructions {
      font-family: $font-stack-bold;
   }
}

.t-error {
   color: $error-color;

   &:before {
      @extend .icon-error;
      margin-right: 5px;
   }

   .t-required:before {
      color: $error-color;
   }
}

:root form .t-error {
   & + input[type="text"],
   & +   input[type="date"],
   & +   input[type="datetime"],
   & +   input[type="datetime-local"],
   & +   input[type="email"],
   & +   input[type="month"],
   & +   input[type="number"],
   & +   input[type="search"],
   & +   input[type="password"],
   & +   input[type="tel"],
   & +   input[type="text"],
   & +   input[type="time"],
   & +   input[type="url"],
   & +   input[type="week"] {
      border: 1px solid $error-color;
   }
}

.l-warning-msg {
   p {
      padding-left: 20px;
   }
}

.t-warning-msg,
.forms form div.t-warning-msg {
   background-color: $warning-bground-color;
   border: 1px solid $warning-border-color;

   p {
      background-color: $warning-bground-color;
      position: relative;

      &:before {
      @include icon-font-icon();
      content: "\e022";
      display: inline;
      position: absolute;
      top: 3px;
      left: 0px;
      color: #F0BF00;
      }
   }
}

.t-info-msg,
.forms form div.t-info-msg {
   background-color: $info-bground-color;
   border: 1px solid $info-border-color;

   p {
      background-color: $info-bground-color;
   }
}

.t-success-msg,
.forms form div.t-success-msg {
   position: relative;
   background-color: $success-bground-color;
   border: 1px solid $success-border-color;
   font-size: $type-M;

   .instructions {
      font-family: $font-stack-bold;
      font-size: $type-L;
      line-height: 22px;

      @include successCheckmark();
   }

   .confirmation-number {
      font-size: $type-ML;
      line-height: 22px;
   }

   p {
      background-color: $success-bground-color;
   }
}


.l-message {
  margin-bottom: 8px;
  p:last-child {
   margin-bottom: 0;
  }
}

.t-error-msg {
  p,
  h2 {
    color: $white;
  }
}
.t-error-msg h2:first-child:before {
   font-family: 'marriott-icons';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   font-size: 1.2em;
   line-height: 1;
   vertical-align: top;
   -webkit-font-smoothing: antialiased;
  content: "\e010";
  color: #e9908b;
  margin-right: 4px;
}

.l-rewards-enrollment {
   margin-bottom: 1rem;

   .secondary-cta:before {
      top: 2px;
   }

   .learn-how {
      display: block;
      width: 80%;
   }

   .card-details {
      float: left;
      width: 42%;
   }

   .card {
      display: block;
      float: left;
      margin-right: 1rem;
      background-image: url('../images/message/rewards-card.png');
      @include background-size(cover);
      width: 146px;
      height: 91px;
   }

   .learn-more {
      float: left;
      padding-top: .5rem;
      margin-bottom: 0;
   }

   .l-rewards-enrollment-confirmation {
      padding: 10px;
   }

   .l-rewards-options {
      padding: 10px 0;
   }
}

.l-reservation-changes,
.l-advanced_purchase_rate,
.l-cancel-reservation-confirmation {
   margin-bottom: 1rem;
}

.l-cancel-reservation .show-more-text {
   margin-bottom: 1rem;
}

.t-rewards-enrollment {
   .rewards-enrollment-title {
      margin-bottom: 13px;
   }

   .enrollment-confirmation {
   }

   .t-rewards-enrollment-confirmation,
   .t-rewards-enrollment-confirmation p {
      background-color: $white;
   }
   .t-rewards-enrollment-confirmation {
      border: 1px solid $lightgray;
   }

   .secondary-cta {
      font-family: $font-stack-bold;
   }
}

@include breakpoint(SM) {
   .l-rewards-enrollment {
      .card-details {
         width: 60%;
      }
   }
}

@include breakpoint(MM) {
   .l-rewards-enrollment {
      @include span-columns(6, 6);

      .l-rewards-enrollment-confirmation {
         @include span-columns(3, 6);
      }
      .l-rewards-options {
         @include span-columns(3 omega, 6);
         padding: 0;
      }

      .card-details {
         width: 39%;
      }

      .learn-how {
         width: 100%;
      }

      .learn-more {
         padding-top: 0;
      }
   }
}

@include breakpoint(ML) {
   .l-cancel-reservation {
      .show-more {
         display: none;
      }
      .show-more-text {
         display: block;
      }
   }

   .l-rewards-enrollment {
      .card-details {
         width: 53%;
      }
      .card {
         margin-bottom: .5rem;
      }
   }
}

@include breakpoint(L) {
   .l-rewards-enrollment {
      .card-details {
         width: 50%;
      }
   }
}

// Overrides display: table declaration that causes the first message on search.html to have a huge height.
.l-message {
  &.l-error-msg:before, &.l-error-msg:after, &.l-warning-msg:before, &.l-warning-msg:after, &.l-info-msg:before, &.l-info-msg:after, &.l-success-msg:before, &.l-success-msg:after {
    display: block;
    content: none;
  }
}
