@import "../../Library/components/sass/base";

@mixin _all{
   .l-room_summary-dates-edit {
      float: right;
   }

   .l-room_summary-thumbnail img{
      float: left;
      margin: 0.5em 1em 0.5em 0;
   }

   .l-room_summary-actions li {
      display: inline;
      &:nth-child(0n+2){
         margin-left: 0.5em;
         &:before{
            content: "|";
            margin-right: 0.5em;
         }
      }
   }
}

@mixin _compact{
   @include clearfix;
   font-size: $type-M;
   .l-room_summary-title,
   .l-room_summary-dates-full,
   .l-room_summary-details-full,
   .l-bookright-blurb,
   .l-room_summary-thumbnail {
      display: none;
   }
}

@mixin _full{
   .l-room_summary-title {
      display: none;
   }

   .l-room_summary-dates-full,
   .l-room_summary-details-full,
   .l-bookright-blurb{
      display: inherit;
   }

   .l-room_summary-thumbnail {
      display: inherit;
      img {
         width: 120px;
         height: 120px;
      }
   }

   .l-room_summary-dates-brief,
   .l-room_summary-details-brief {
      display: none;
   }

   .l-room_summary-dates-edit {
      float: none;
   }

   .l-room_summary-title,
   .l-room_summary-dates-full,
   .l-room_summary-details-full {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      p {
         margin: 0;
         padding: 0;
      }
   }
}

@mixin _large{
   .l-room_summary-title {
      display: inherit;
      h3 {
         font-size: $type-XL;
         margin-bottom: 0;
      }
      .address {
         font-size: $type-S;
         margin-top: 0;
      }
   }

   .l-room_summary-thumbnail {
      display: inherit;
      img {
         width: 180px;
         height: 180px;
      }
   }
}

// Assembly of responsive bits
.l-review_selections {

   // narrow single columns
   @include _all;
   @include _compact;

   // normal single columns
   @include breakpoint(S){
      @include _full;
   }

   // wide single columns
   @include breakpoint(SM){
      @include _large;
   }

   // normal double columns
   @include breakpoint(ML){
      @include _full;
   }

   @include breakpoint(XL){
      @include _large;
   }
}





