@import "../../Library/components/sass/base";
$highlight-gray: #f6f6f6;


table.l-ttp-table{
   td{
      border: none;
   }

   td.l-price{
      text-align: right;
   }  

   .l-ttp-line-item{
      &:nth-child(2n-1){
         td{
            background-color: $highlight-gray;
         }
      }
   }

   .l-ttp-subtotal{
      td { 
         border-top: 1px solid $lightgray;
         padding-top: 1em;
         padding-bottom: 0.25em;
      }
   }

   .l-ttp-tax-and-fees{
      td { 
         padding-top: 0.25em;
         padding-bottom: 1em;
         border-bottom: 1px solid $lightgray;
      }
   }

   .l-ttp-total-per-room{
      td{
         @include semibold;
         padding-top: 1em;
         padding-bottom: 0.25em;
      }

   }

   .l-ttp-grand-total{
      td{
         @include semibold;
         vertical-align: baseline;
         padding-top: 0.25em;
         padding-bottom: 0.25em;
      }
      td.l-price{
         font-size: $type-XL;
         padding-bottom: 0; // ( do not contribute padding to this tr) 
      }
   }
   
   .l-ttp-rate-rules{
      td{
         @include semibold; 
         padding-top: 0.25em;
         padding-bottom: 1em;
         &:last-child{
            text-align: right;
         }
      }
   }
}