@import "../../Library/components/sass/base";


@mixin _all{

   display: inline-block;
   border-bottom: solid $lightgray 1px;

   table{
      border-collapse: separate;
      th {
         text-align: center;
         vertical-align: middle;
         font-family: $font-stack-bold;
         padding-left: 0.5em;
         padding-right: 0.5em;
         &:first-child{
            text-align: left;
         }
         border-bottom: solid $lightgray 1px;
      }

      td {
         text-align: center;
         vertical-align: middle;
         border-left: solid $lightgray 1px;
         border-top: none;
         border-bottom: none;
         &:first-child{
            font-size: $type-S;
            text-align: left;
            border-left: none;
         }

      }
      tr:nth-child(0n+2) td {
         border-top: solid $white 0.5em;
         padding-top: 0em;
      }

      tr:last-child td {
         border-bottom: solid $white 0.5em;
         padding-bottom: 0em;
      }

      @include breakpoint(SM){
         th {
            padding-left: 1em;
            padding-right: 1em;
         }
         td:first-child {
            font-size: $type-M;
         }
      }
   }

   .l-review-prefs-yes
   .l-review-prefs-no {
      padding: 0.25em;
   }

   .l-review-prefs-yes{
      @include icon-font-icon;
      &:before {
         content: "\e005";
         color:$green;
      }

      font-size: $type-ML;
      @include breakpoint(SM){
         font-size: $type-XL;
      }
   }

   .l-review-prefs-no{
      &:before {
         content: "\2014";
         color:$gray;
      }

      font-size: $type-M;
      @include breakpoint(SM){
         font-size: $type-L;
      }
   }
}



@mixin _compact{
   .l-review-prefs-yes{ font-size: $type-ML; };
   .l-review-prefs-no{ font-size: $type-M ;}
}

@mixin _full{
   .l-review-prefs-yes{ font-size: $type-XL; }
   .l-review-prefs-no{ font-size: $type-L; }
}

@mixin _large{}

// Assembly of responsive bits
.l-review-prefs-table {

   // narrow single columns
   @include _all;
   @include _compact;

   // normal single columns
   @include breakpoint(S){
      @include _full;
   }

   // wide single columns
   @include breakpoint(SM){
      @include _large;
   }

   // normal double columns
   @include breakpoint(ML){
      @include _full;
   }

   @include breakpoint(XL){
      @include _large;
   }
}

