<header title="Confirm &amp; Continue Pane" class="" data-doneness="" data-description=""></header>
<article id="variations">
  <section data-variation="default">
  <div class="l-confirm_continue">
      <h3>Continue booking your reservation</h3>
      <ul class="l-confirm_continue-checklist">
        <li>Review all of reservation details</li>
        <li>Confirm all information is correct</li>
        <li>Click continue and go to the next page to complete your booking</li>
      </ul>
      <div class="l-confirm_continue-cta">
        <a href="#" class="button extra-large">Continue</a>
        <p class="l-confirm_continue-cta-caption">Continue to finish booking</p>
        <p class="l-confirm_continue-cta-subcaption">You will now proceed to enter your information</p>
      </div>
      <div data-component="ds-message" data-variation="prepay-confirmation"></div>
    </div>
  </section>
</article>
<aside class="notes">
  <!-- annotation notes, in basic markup, go here //-->
</aside>