<!-- copy of library component 'message' with new variation -->

<header title="Message" class="l-message t-message" data-description="" data-doneness=""></header>
<article id="variations">
  <section title="Reservation Confirmation" data-variation="reservation-confirmation" class="l-success-msg t-success-msg">
    <h3 class="confirmation-number">
      Confirmation Number: <a href="#confirmation-number">#85326605</a>
    </h3>
    <p>
      Thank you for your reservation. Your reservation is guaranteed to your Visa card. An email with this information has been sent to <a href="mailto:psweeney39@gmail.com">psweeney39@gmail.com.</a> We look forward to greeting you.
    </p>
    <ul class="cta-list horizontal">
      <li><a href="#">Print Reservation</a></li>
      <li><a href="#">Email to a Friend</a></li>
      <li><a href="#">Send to Outlook</a></li>
    </ul>
  </section>
  <section title="Prepay Confirmation" data-variation="prepay-confirmation" class="l-info-msg t-info-msg">
    <h3>Cancelling Your Reservation</h3>
    <p>Please note that changes to your reservation are not permitted.</p>
    <p>Please note that your prepayment for this special rate is non-refundable.</p>
    <ul class="cta-list horizontal">
      <li><a href="#">Modifying Your Reservation</a></li>
      <li><a href="#">Holding Your Reservation</a></li>
    </ul>
  </section>
</article>