<header title="Review Selections Pane" class="" data-doneness="" data-description=""></header>
<article id="variations">
  <section data-variation="default">
  <div class="l-review_selections">
     <div class="l-room_summary-title">
           <h3>JW Marriott Chicago</h3>
           <p class="address">151 West Adams Street Chicago, IL 60603</p>
     </div>

     <div class="l-room_summary-thumbnail">
        <a href="#" title="View Hotel Photos">
          <img src="images/fairfieldchicago/listthumbnail-jw.jpg" alt="">
        </a>
     </div>

     <div class="l-room_summary-dates-brief">
        <p class="l-room_summary-dates-edit"><a href="#" onclick="return false">Edit</a></p>
        <p><strong>June 26, 2013 - June 28, 2013</strong></p>
     </div>

     <div class="l-room_summary-dates-full">
        <p><strong class="label">Check-in:</strong> Wednesday June 26, 2013</p>
        <p><strong class="label">Check-Out:</strong> Friday June 28, 2013</p>
        <p class="l-room_summary-dates-edit"><a href="#" onclick="return false">Edit Dates</a></p>
     </div>

     <div class="l-room_summary-details-brief">
        <p>2 Rooms / 2 Guests / 1 King or 2 Queen</p>
        <p>Guest Room, Club Level, Top Floor</p>
     </div>

     <div class="l-room_summary-details-full">
        <p><strong>No. of rooms:</strong> 2</p>
        <p><strong>Guests per room:</strong> 2</p>
        <p><strong>Room Type:</strong> Club level, guest room, 1 King or 2 Queen, Top Floor</p>
        <ul class="l-room_summary-actions">
           <li><a href="javascript:return false;">Edit Rooms</a></li>
           <li><a href="javascript:return false;">Room Details</a></li>
        </ul>
     </div>


     <div class="l-bookright-blurb">bookright</div>
  </div>
  </section>
</article>
<aside class="notes">
  <!-- annotation notes, in basic markup, go here //-->
</aside>