<header title="Total Trip Pricing" class="" data-doneness="" data-description=""></header>
<article id="variations">
  <section data-variation="default">
       
    <div>
      <h3>Summary of Charges <span class="parenthesis">(All prices are in USD)</span></h3>
    </div>
    <div>
      2 rooms for 9 nights:
    </div>
    <table class="l-ttp-table t-ttp-table">
       <tr class="l-ttp-line-item">
          <td>Wed, October 16</td>
          <td class="l-price">$314.00</td>
       </tr>
       <tr class="l-ttp-line-item">
          <td>Thu, October 17</td>
          <td class="l-price">$260.00</td>
       </tr>
       <tr class="l-ttp-line-item">
          <td>Fri, October 18</td>
          <td class="l-price">$422.00</td>
       </tr>
       <tr class="l-ttp-line-item">
          <td>Sat, October 19</td>
          <td class="l-price">$512.00</td>
       </tr>
       <tr class="l-ttp-line-item">
          <td>Sun, October 20</td>
          <td class="l-price">$404.00</td>
       </tr>
       <tr class="l-ttp-line-item">
          <td>Mon, October 21</td>
          <td class="l-price">$323.00</td>
       </tr>
       <tr class="l-ttp-line-item">
          <td>Tue, October 22</td>
          <td class="l-price">$350.00</td>
       </tr>
       <tr class="l-ttp-line-item">
          <td>Wed, October 23</td>
          <td class="l-price">$233.00</td>
       </tr>
       <tr class="l-ttp-line-item">
          <td>Thu, October 24</td>
          <td class="l-price">$386.00</td>
       </tr>
       <tr class="l-ttp-subtotal">
          <td>Sum of Nightly Rates:</td>
          <td class="l-price">$3,024.00</td>
       </tr>
       <tr class="l-ttp-tax-and-fees">
          <td><a href="#" onclick="return false">Tax recovery charge and service fees</a></td>
          <td class="l-price">$352.58</td>
       </tr>
       <tr class="l-ttp-total-per-room">
          <td>Total for stay (per room)</td>
          <td class="l-price">$3,376.58</td>
       </tr>
       <tr class="l-ttp-grand-total">
          <td>Total for stay (all rooms)</td>
          <td class="l-price">$6,753.16</td>
       </tr>
       <tr class="l-ttp-rate-rules">
          <td><a href="#" onclick="return false">Rate Rules</a></td>
          <td>Leisure Rate</td>
       </tr>
    </table>
    <div class="import-cc-ad"></div>
    <p>
      We will charge your card <strong>$6,753.16</strong> when you arrive for your stay.
      <a href="#" onclick="return false">Review the policies</a>
    </p>
    <p>Any changes in taxes or fees implemented after booking will affect your total room price.</p>
  </section>
  <section data-variation="alternative">
    <!-- component variation markup goes here //-->
  </section>
</article>
<aside class="notes">
  <!-- annotation notes, in basic markup, go here //-->
</aside>