<header title="Review Preferences Pane" class="" data-doneness="" data-description=""></header>
<article id="variations">
  <section data-variation="default">

<!--
    <div class="l-review-prefs-list">
      <ul>
         <li><a href="#review-preferences-room1" onclick="return false">Room 1</a></li>
         <li><a href="#review-preferences-room2" onclick="return false">Room 2</a></li>
      </ul>
      <div id="review-preferences-room1">
         <p class="t-list-head">
            These Preferences are guarunteed
         </p>
         <ul>
            <li>Mobility Accessible Room wiht Roll-in Shower</li>
            <li>Hearing Accessible Room</li>
            <li>2 Queen Beds</li>
         </ul>
         <p class="t-list-head">
            These Preferences are not guatanteed
         </p>
         <ul>
            <li>Early Check-in</li>
            <li>Extra Towels</li>
            <li>Extra Foam Pillows</li>
            <li>Feather Free Room</li>
            <li>Portaable Crib or Pack'n Play</li>
            <li>High Floor Room</li>
         </ul>
         <a class="xx-cta" href="javascript:{}">Edit preferences for Room1</a>
      </div>
    </div>
-->

    <div class="l-review-prefs-table">
      <table>
        <tr>
          <th>Guaranteed Preferences</th>
          <th>Room&nbsp;1</th>
          <th>Room&nbsp;2</th>
          <th>Room&nbsp;3</th>
        </tr>
        <tr>
          <td>Mobility, Accesible Room with Roll-in Shower</td>
          <td class="l-review-prefs-yes"><span class="hidden">yes</span></td>
          <td class="l-review-prefs-no"><span class="hidden">no</span></td>
          <td class="l-review-prefs-yes"><span class="hidden">yes</span></td>
        </tr>
        <tr>
          <td>Hearing Accessible Room</td>
          <td class="l-review-prefs-yes"><span class="hidden">yes</span></td>
          <td class="l-review-prefs-no"><span class="hidden">no</span></td>
          <td class="l-review-prefs-no"><span class="hidden">no</span></td>
        </tr>
        <tr>
          <td>2 Double Beds</td>
          <td class="l-review-prefs-yes"><span class="hidden">yes</span></td>
          <td class="l-review-prefs-yes"><span class="hidden">yes</span></td>
          <td class="l-review-prefs-no"><span class="hidden">no</span></td>
        </tr>
        <tr>
          <td>1 King Bed</td>
          <td class="l-review-prefs-no"><span class="hidden">no</span></td>
          <td class="l-review-prefs-no"><span class="hidden">no</span></td>
          <td class="l-review-prefs-yes"><span class="hidden">yes</span></td>
        </tr>
        <tr>
          <td>Mobility Accessible Room with Tub</td>
          <td class="l-review-prefs-no"><span class="hidden">no</span></td>
          <td class="l-review-prefs-no"><span class="hidden">no</span></td>
          <td class="l-review-prefs-yes"><span class="hidden">yes</span></td>
        </tr>
      </table>
    </div>
  </section>
</article>
<aside class="notes">
  <!-- annotation notes, in basic markup, go here //-->
</aside>